<?xml version="1.0" encoding="UTF-8"?>
<EVENT_LIST>
	<EVENT>
		<Event_Attribut>
      <KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden Wochentags morgen anschalten</VALUE> 	
		</Event_Attribut>
 		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">ON</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">5:45</VALUE>
		</Event_Attribut>
    <Event_Attribut>
			<KEY typ="str">PUBLIC_HOLIDAY</KEY>
			<VALUE typ="str">NO</VALUE>
		</Event_Attribut>
	</EVENT>

	<EVENT>
		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">OFF</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden morgen abschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">7:10</VALUE>
		</Event_Attribut>
    <Event_Attribut>
			<KEY typ="str">PUBLIC_HOLIDAY</KEY>
			<VALUE typ="str">NO</VALUE>
    </Event_Attribut>  
	</EVENT>
 
 	<EVENT>
		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">ON</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden Abend anschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">20:00</VALUE>
		</Event_Attribut>
	</EVENT>
 
 	<EVENT>
		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">OFF</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden Abend abschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">22:30</VALUE>
		</Event_Attribut>
	</EVENT>
 <EVENT>
		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">A</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">OFF</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">WLAN Repeater abschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">04:00</VALUE>
		</Event_Attribut>
	</EVENT>
  <EVENT>
 <Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">A</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">ON</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">WLAN Repeater anschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">04:02</VALUE>
		</Event_Attribut>
	</EVENT>
  <EVENT>
 <Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">NETWORKCHECK</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">IP</KEY>
			<VALUE typ="str">192.168.178.1</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">EMAIL_NOTIFY_MODE</KEY>
			<VALUE typ="str">ALWAYS</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Powerline Adapter durch pingen der Firtzbox prüfen</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">01:00</VALUE>
		</Event_Attribut>
	</EVENT>
<EVENT>
 <Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">NETWORKCHECK</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">IP</KEY>
			<VALUE typ="str">192.168.178.1</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">EMAIL_NOTIFY_MODE</KEY>
			<VALUE typ="str">NO</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Powerline Adapter durch pingen der Firtzbox prüfen</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">09:00</VALUE>
		</Event_Attribut>
	</EVENT> 
 <EVENT>
 <Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">NETWORKCHECK</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">IP</KEY>
			<VALUE typ="str">192.168.178.1</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">EMAIL_NOTIFY_MODE</KEY>
			<VALUE typ="str">ALWAYS</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Powerline Adapter durch pingen der Firtzbox prüfen</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">12:00</VALUE>
		</Event_Attribut>
	</EVENT>
 <EVENT>
 <Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">NETWORKCHECK</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">IP</KEY>
			<VALUE typ="str">192.168.178.1</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">EMAIL_NOTIFY_MODE</KEY>
			<VALUE typ="str">ALWAYS</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Powerline Adapter durch pingen der Firtzbox prüfen</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">15:00</VALUE>
		</Event_Attribut>
	</EVENT> 
  <EVENT>
 <Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">NETWORKCHECK</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">IP</KEY>
			<VALUE typ="str">192.168.178.1</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">EMAIL_NOTIFY_MODE</KEY>
			<VALUE typ="str">ALWAYS</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Powerline Adapter durch pingen der Firtzbox prüfen</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">18:00</VALUE>
		</Event_Attribut>
	</EVENT>
<EVENT> 
 <Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">NETWORKCHECK</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">IP</KEY>
			<VALUE typ="str">192.168.178.1</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">EMAIL_NOTIFY_MODE</KEY>
			<VALUE typ="str">ALWAYS</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Powerline Adapter durch pingen der Firtzbox prüfen</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">21:00</VALUE>
		</Event_Attribut>
	</EVENT>    
 </EVENT_LIST>
