<?xml version="1.0" encoding="UTF-8"?>
<EVENT_LIST>
	<EVENT>
		<Event_Attribut>
      <KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden Wochentags morgen anschalten</VALUE> 	
		</Event_Attribut>
 		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">ON</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">6:00</VALUE>
		</Event_Attribut>
    <Event_Attribut>
			<KEY typ="str">PUBLIC_HOLIDAY</KEY>
			<VALUE typ="str">NO</VALUE>
		</Event_Attribut>
	</EVENT>

	<EVENT>
		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">OFF</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden morgen abschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">7:10</VALUE>
		</Event_Attribut>
    <Event_Attribut>
			<KEY typ="str">PUBLIC_HOLIDAY</KEY>
			<VALUE typ="str">NO</VALUE>
    </Event_Attribut>  
	</EVENT>
 
 	<EVENT>
		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">ON</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden Abend anschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">20:00</VALUE>
		</Event_Attribut>
	</EVENT>
 
 	<EVENT>
		<Event_Attribut>
			<KEY typ="str">Event Type</KEY>
			<VALUE typ="str">SOCKET</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_NO</KEY>
			<VALUE typ="str">C</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">SOCKET_SIGNAL</KEY>
			<VALUE typ="str">OFF</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Comment</KEY>
			<VALUE typ="str">Schranklicht jeden Abend abschalten</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Weekdays</KEY>
			<VALUE typ="str">MONDAY;TUESDAY;WEDNESDAY;THURSDAY;FRIDAY;SATURDAY;SUNDAY</VALUE>
		</Event_Attribut>
		<Event_Attribut>
			<KEY typ="str">Time</KEY>
			<VALUE typ="str">22:30</VALUE>
		</Event_Attribut>
	</EVENT>
 </EVENT_LIST>
